.mainContainer {
	padding: 15px;
}
.childContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	width: 28%;
	height: 350px;
	margin: 15px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
