.btnContainer {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btnSearch {
	width: 40%;
	border-radius: 50px;
	border: none;
	background-color: #353b48;
	cursor: pointer;
}

.btnSearch:hover {
	background-color: #e1b12c;
}

.btnSearch:hover p {
	color: #353b48;
}

.btnSearch p {
	font-weight: bold;
	font-size: 17px;
	color: #e1b12c;
}
